<ion-view class="pane"> 
  <ion-header-bar align-title="center" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar"> 
    <div class="buttons buttons-left header-item"> 
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
    </div> 
    <h1 class="title">Title</h1> 
    <div class="buttons buttons-right header-item"> 
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
    </div> 
  </ion-header-bar> 
  <ion-content data-component="crn-ion-content" class="scroll-content has-header"> 
    <button class="button button-block button-positive component-holder" type="submit" xattr-fullsize="button-block" xattr-theme="button-positive" ng-click="cronapi.client('js.blockly.Fotogrande2.urlFoto').run()" data-component="crn-button" id="crn-button-872508"><i class="ion ion-home"></i> <span>teste</span></button><img src="{{cronapi.client('js.blockly.Fotogrande2.urlFoto').attr().run()}}" class="component-holder" style="" xattr-position="" data-component="crn-image" id="crn-image-1020066"> 
  </ion-content> 
</ion-view>