<ion-view class="pane">
  <ion-header-bar align-title="center" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar">
    <div class="buttons buttons-left header-item">
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
    <h1 class="title">Title</h1>
    <div class="buttons buttons-right header-item">
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
  </ion-header-bar>
  <ion-content data-component="crn-ion-content" class="scroll-content has-header">
  <img src="img/nophoto.png" class="component-holder" style="" xattr-position="" data-component="crn-image" id="crn-image-892921"></ion-content>
</ion-view>