<ion-view class="pane">
  <ion-header-bar align-title="center" class="bar bar-positive" data-component="crn-ion-header-bar">
    <div class="buttons buttons-left header-item">
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
    <h1 class="title">{{'Home.view.Home' | translate }}</h1>
    <div class="buttons buttons-right header-item">
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
  </ion-header-bar>
  <ion-content class="scroll-content has-header" data-component="crn-ion-content">
    <div style="height: 60px;" data-component="crn-spacer" class="component-holder" id="crn-spacer-909305">
      &nbsp;
    </div>
  <div class="component-holder ng-binding ng-scope" data-component="crn-dynamic-file" id="crn-dynamic-file-1002196"><div class="item item-input item-stacked-label"><label class="input-label">Label</label><div class="form-group"><div dynamic-file="" ng-model="vars.input7909" max-file-size="5MB" class="dynamic-image-container" ng-required="false">{{"template.crud.clickToAddFile" | translate}}</div></div></div></div></ion-content>
</ion-view>